**/__pycache__
**/*.pyc
/twitterVenv
.DS_Store
.vscode
/dataStream/raw/**/*.json
/dataStream/tagOutPut.json
/dataStream/tokenized.json
/dataStream/tokenizedLower.json
/dataStream/tokenizedSent.json
/dataStream/woJap.json
/jptnbTest
**/*.ipynb_checkpoints
/models/**/*.model
**/*.rar
