{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block title%}stop list management{%endblock%}


{%block page_content%}
<div class="container marginTop">
	<div class='float-left'>
		<h1>stop list management</h1>
		<div class="currentStopLst">
			<ul class=>
				{% for item in stopLst %}
				<li> {{item}}</li>
				{% endfor %}
			</ul>
		</div>
		{{wtf.quick_form(form, form_type="horizontal")}}
	</div>
	<div class = "float-right">
		<h1>stop rules</h1>
		<div style="height: 400px;">
			{{ruleTb|safe}}
		</div>
		<div class="form-row align-items-center">
			{{wtf.quick_form(form2, form_type="horizontal")}}
		</div>
	</div>
</div>
{%endblock%}