{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block title%}related words{%endblock%}

{%block page_content%}
<div class="container marginTop">
	<div class="container">
		<h1 class="float-left">related words</h1>
		{{wtf.quick_form(form, form_type="inline", id="topic-select")}}
	</div>
		
	<div id="table-wrapper">
		<div id="table-scroll">
			{{rWordsTb|safe}}
		</div>
	</div>
	<div class="page_content">
		<input type="button" onclick="location.href='/topicTag'" value="go back">
	</div>
</div>
{%endblock%}
