{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block title%}topic tag{%endblock%}

{%block page_content%}
<div class= "container marginTop">
	<div class="container">
		<h1 class = "float-left" id="width-narrow">topic tag</h1>
			{{wtf.quick_form(form, form_type="inline", id="topic-select")}}
	</div>
	
	<div id="table-wrapper">
		<div id="table-scroll">
			{{toShow|safe}}
		</div>
	</div>

	<input type="button" onclick="location.href='/topicTag'" value="go back">
	
</div>

</div>
{%endblock%}