{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block title%}topic management{%endblock%}

{%block page_content%}
<div class="container marginTop">
	<div class="page_content">
		<h1>topic management</h1>
		{% for topic in topicLst %}
		<p>{{topic}}</p>
		{% endfor %}
	</div>
	<div class="page_content">
		<input type="button" onclick="location.href='/topicManagement/addTopic'" value="add topic">
		<input type="button" onclick="location.href='/topicManagement/edit'" value="topic editor">
		<input type="button" onclick="location.href='/topicManagement/delete'" value="delete topic">
	</div>
</div>
{%endblock%}
